@import "tailwindcss";

body {
  box-sizing: border-box;
}

@theme {
  /* Colors */
  --color-primary: #1e293b;
  --color-secondary1: #3b82f6;
  --color-secondary2: #64748b;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.book-card {
  transition: transform 0.2s, box-shadow 0.2s;
}


/* dropdown cho menu  */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* end dropdown cho menu  */