# Server Configuration
PORT=3001
FRONTEND_URL=http://localhost:3000

# Database Configuration
MONGO_URL=mongodb_connection_string

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=2d

# Payment Configuration (PayOS)
PAYMENT_BANK_NAME=Your_Bank_Name
PAYMENT_ACCOUNT_NUMBER=Your_Account_Number
PAYMENT_ACCOUNT_HOLDER=Your_Account_Holder
PAYMENT_BANK_CODE=Your_Bank_Code

PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key

# Email Configuration (Brevo)
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_sender_email

# Google Auth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# AI Configuration (Groq)
GROQ_API_KEY=your_groq_api_key
